<div>
    <h2>菜单栏</h2>
    <!--<h3>应用appId:</h3>-->
    <!--<div *ngFor="let item of appIds">-->
        <!--<p>-->
            <!--<span>{{item}}</span>-->
        <!--</p>-->
    <!--</div>-->
    <ul>
        <li><a (click)="show('left');" [routerLink]="['/']">首页</a></li>
        <li><a [routerLink]="['/device']">设备管理</a></li>
        <li><a [routerLink]="['/downlink']">下行历史</a></li>
        <li><a [routerLink]="['/uplink']">上行历史</a></li>

        <li><a [routerLink]="['/product']">产品管理</a></li>
        <li><a [routerLink]="['/plugins']">插件管理</a></li>

        <!-- 测试-->
        <li><a [routerLink]="['/service']">服务管理</a></li>
        <li><a [routerLink]="['/property']">属性管理</a></li>
        <li><a [routerLink]="['/command']">命令管理</a></li>
        <li><a [routerLink]="['/para']">参数管理</a></li>
    </ul>

</div>
